@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.calculator-field {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    pointer-events:none;
    background-color: #FFF;
    border-radius: 10px;
}

.jumbotron {
    display: inline-block;
    width: 100%;
}

.calculator-symbol {
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}